body {
  margin: auto;
}

#wrapper {
  margin: auto;
  max-width: 400px;
  background-color: #FF6666;
  padding: 50px;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

header {
  border-bottom: 1px solid white;
}

h1 {

  font-size: 2.6em;
  letter-spacing: 0.05em;
}

h2 {
  font-size: .8em;
}


main {}

#list {}

#toggle {
  font-size: .6em;
}

#form-wrapper {}

#new-item {
  font-size: 1em;

  input {
    height: 20px;
  }

  button {
    border: solid 1px white;
    padding: 5px;
    font-size: .5em;
  }
}

.list-item {
  display: flex;
  justify-content: space-between;
  p {
    display: inline;
  }
}